<div class="center jumbotron">
 <h1>A Restaurant Reservation System</h1>
 <h2>
Created by Carl Janzell Oropesa
 </h2>
 <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
