<footer class="footer bg-dark text-white py-4">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-6">
        <small>
          The Restaurant Reservation System by 
          <a href="https://www.facebook.com/CarlJanzell/" class="text-white">Carl Janzell Oropesa</a>
        </small>
      </div>
      <div class="col-md-6 text-md-end">
        <nav>
          <ul class="list-unstyled mb-0">
            <li class="d-inline me-3">
              <%= link_to "Facebook", 'https://www.facebook.com/CarlJanzell/', class: 'text-white' %>
            </li>
            <li class="d-inline me-3">
              <%= link_to "Github", 'https://github.com/Darkify19', class: 'text-white' %>
            </li>
            <li class="d-inline">
              <%= link_to "Linkedin", 'https://www.linkedin.com/in/carl-janzell-764399179/', class: 'text-white' %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
